<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title>About Us</title>
  <link th:href="@{/styles/styles.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/ecb5994ee2.js" crossorigin="anonymous"></script>
</div>
  <title>...</title></head>

<body class="about-bg"><div layout:fragment="content" th:remove="tag">
  <h1 class="about-header" style = "padding-bottom: 40px">About </h1>


  <p class="about-header" style = "font-size: 20px">
    The application used to build this website is Spring Boot, and it is fully coded and built with Java, HTML, and Maven. Although I used some code templates from peers to help me get started with coding the web application, the majority of this project is coded by me. I used Amazon Web Services to deploy this project to the internet, using AWS EC2 and Elastic Beanstalk. This website is a work in progress, meaning that many features/projects are not finished.
  </p>






  <h1 class="about-header" style = "font-size: 20px" ><form method="get" action="https://github.com/shekark642/Shekar_Website_Final"> <button type="submit">Project Github</button> </form> </h1>
  <h1 class="about-header" style = "font-size: 20px" ><form method="get" action="https://www.linkedin.com/in/shekar-krishnamoorthy-154b68230/"> <button type="submit">Linkedin Profile</button> </form> </h1>




</div>
</body>
</html>