<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title>About Us</title>
  <link th:href="@{/styles/styles.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/ecb5994ee2.js" crossorigin="anonymous"></script>
</div>
  <title>...</title></head>

<body class="about-bg"><div layout:fragment="content" th:remove="tag">
  <h1 class="about-header" style = "padding-bottom: 40px">About </h1>


  <p class="about-header" style = "font-size: 20px">
    Hello viewer! My name is Shekar Krishnamoorthy and this is my personal website. I built this website to express my
    creative side of designing a website, while also showcasing my coding skills. To create the tomcat server for the web
    application, I used Maven and Java Springboot, and to build the individual components of the application, I used Java,
    HTML, CSS, and a bit of SQL. Although I used code templates from peers and teachers to help me get started with building
    the website, the majority of this project is coded by me. And finally, in order to make this website available to the
    public, I used an EC2 and Elastic Beanstalk from Amazon Web Services. This project is still a work in progress,
    meaning that some features may be broken, and many more projects are on the way soon! Feel free to explore the website!
  </p>






  <h1 class="about-header" style = "font-size: 20px" ><form method="get" action="https://github.com/shekark642/Shekar_Website_Final"> <button type="submit">Project Github</button> </form> </h1>
  <h1 class="about-header" style = "font-size: 20px" ><form method="get" action="https://www.linkedin.com/in/shekar-krishnamoorthy-154b68230/"> <button type="submit">Linkedin Profile</button> </form> </h1>




</div>
</body>
</html>